.git
.github
.gitignore
.env.*
README.md
LICENSE
.vscode
.dockerignore
**/coverage
**/*.log
.prettierignore
.prettierrc
docker-compose.yml
Dockerfile
eslint.config.js
package-lock.json
tsconfig.json

